[submodule "test1/test"]
	path = test1/test
	url = https://github.com/yog01/test.git
	branch = feature
[submodule "test1/projsubmodule"]
	path = test1/projsubmodule
	url = https://github.com/yog01/c_program.git
	branch = feature
